body{
    font-family: 'Nunito', sans-serif;
}

.menuOculto{
    height: 100%;
    width: 300;
    position: fixed; /*pra não rolar com a pagina*/
    z-index: 1;
    top: 0; /*pra ficar fixo em cima*/
    left: 0; /*pra ficar fixo a esquerda*/
    background-color: #33605a;
    overflow-x: hidden; /*nao mostra a barra de rolagem no eixo x*/
    transition: 0.5s; /*tempo da animação do menu*/
    padding-top: 40px;  /*pra nao ficar muito colado no topo*/
}
.menuOculto a{ /*elementos dentro do menu*/
    padding: 8px 8px 8px 32px;
    text-decoration: none; /*tira a linha debaixo da escrita do link*/
    font-size: 20px;
    color: #888;
    display: block;
    transition: 0.3s;
}
.menuOculto .titulo{
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    font-size: 24px;
    border-bottom: 2px solid #91a398;
}
.menuOculto a:hover{
    color: #fff;
}
.menuOculto ul{ /*tirar as bolinhas do menu*/
    list-style: none;
}
.btnFechar{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#principal{
    padding: 16px;
    transition: margin-left 0.5s;
}

/*responsividade*/
@media screen and(max-height: 450px){
    .menuOculto{padding-top: 15px;}
    .menuOculto a{font-size: 18px;}
}