body{
    font-family: 'Nunito', sans-serif;
}

.menuOculto{
    height: 100%;
    width: 0;
    position: fixed; /*pra não rolar com a pagina*/
    z-index: 1;
    top: 0; /*pra ficar fixo em cima*/
    left: 0; /*pra ficar fixo a esquerda*/
    background-color: #33605a;
    overflow-x: hidden; /*nao mostra a barra de rolagem no eixo x*/
    transition: 0.5s; /*tempo da animação do menu*/
    padding-top: 40px;  /*pra nao ficar muito colado no topo*/
}
.menuOculto a{ /*elementos dentro do menu*/
    padding: 8px 8px 8px 16px;
    text-decoration: none; /*tira a linha debaixo da escrita do link*/
    font-size: 20px;
    color: #888;
    display: block;
    transition: 0.3s;
}
.menuOculto .titulo{
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    font-size: 24px;
    border-bottom: 2px solid #91a398;
}
.menuOculto a:hover{
    color: #fff;
}
.menuOculto ul{ /*tirar as bolinhas do menu*/
    list-style: none;
}
.menuOculto ul ul li a{
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
}
.menuOculto ul ul{ /*para ocultar os submenus*/
    display: 100; /*so oculta se escrever none*/
}
.btnFechar{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#principal{
    padding: 5px;
    transition: margin-left 0.5s;
    background: #91a398;
}

/*responsividade*/
@media screen and(max-height: 450px){
    .menuOculto{padding-top: 15px;}
    .menuOculto a{font-size: 18px;}
}

/*css menu superior*/
#principal .hero{ /*todo o bloco menu superior*/
    width: 100%;
    min-height: 100vh ;
    background: #91a398;
    color: #888;
}
.hero nav{ /*bloco usuario*/
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.hero nav ul{
    width: 100%;
    text-align: right;
}

.sub-menu{
    background: #33605a;
    padding: 20px;
    margin: 10px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #33605a;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #91a398;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #888;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: #91a398;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}

#principal .hero nav{
    padding: 5px;
    transition: margin-right 0.5s;
    background: #91a398;
}


