
/* CARACTERISTICAS GERAIS */
body {
    --nav-width: 220px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 2rem;    
    background-image: url(../img/bg-img.webp);
    background-size:cover;
    color: rgb(213, 225, 235);
}

input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #1c1c1c;
}

input:hover{
    background-color: #222222;
    color: #eeeeee;
}

/* FIM CARACTERISTICAS GERAIS */

/* MENU LATERAL */

nav {
    padding: 0px;
    position: fixed;    
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
    overflow: auto;
    display: flex;
    flex-direction: column;    
}

nav ul{
    padding: 0px;
}

nav ul li{
    list-style: none;
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

nav ul li a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

nav ul li a:hover{
    background: rgba(255, 255, 255, 0.05);
}

/* FIM MENU LATERAL */

/* SERVICOS */
.servicos{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 6px #1c1c1c;
    background-color: rgba(0, 0, 0, 0.5);
}

/* FIM SERVICOS */

/* SLIDER */
/* FIM SLIDER */


/* INFOS SOBRE EMPRESA E VANTAGENS */

#empresa, #vantagens{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* FIM INFOS SOBRE EMPRESA E VANTAGENS */

/* CADASTRO */

#cadastro{
    background-color: #dddddd;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px 6px #1c1c1c;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-cadastro{
    border-radius: 10px;
    padding: 15px;
}

.dados-cadastro{
    display: flex;
    flex-direction: column;    
}

.gender{
    color: #222222;
}

/* FIM CADASTRO */

/* BLOCOS LOGIN, RECUPERAÇÃO E FALE CONOSCO */

.blocos{
    background-color: #dddddd;
    padding: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 6px #1c1c1c;
    background-color: rgba(0, 0, 0, 0.5);
}

.blocos a{
    color: #eeeeee;
}

.blocos div{
    display: flex;
    flex-direction: column;
}

#bloco-login{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

#bloco-recuperacao{
    padding: 2rem;
}

#bloco-recuperacao input{
    max-width: fit-content;
}

#bloco-fale-conosco{
    padding: 2rem;
}

/* FIM BLOCOS LOGIN, RECUPERAÇÃO E FALE CONOSCO */

/* SOBRE */

#sobre{
    padding: 1rem;
    background-color: #dddddd;
    box-shadow: 1px 1px 6px #1c1c1c;
    background-color: rgba(0, 0, 0, 0.5);
}

#sobre ul{
    margin-right: 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* FIM SOBRE */

.corpo_json{
    box-shadow: 1px 1px 6px #1c1c1c;
    background-color: rgba(0, 0, 0, 0.5);
}

.corpo_json table{
    padding: 1rem;
    margin: 1rem;
}

/* RESPONSIVIDADE */ 

@media screen and (min-width: 1080px){
    .corpo{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}