https://fonts.google.com/specimen/Nunito#:~:text=%40import%20url(%27https%3A//fonts.googleapis.com/css2%3Ffamily%3DNunito%3Awght%40200%26display%3Dswap%27)%3B
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box_menu{
    background: ;
    height: 100vh;
    background-size: cover;
    width: 100%;
}